!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", xml:lang => "en" }
  !! head
  - $body_class = join(' ', get_body_class())
  %body{ :class => $body_class }
    #page
      !! header

      #.narrowcolumn
        %h2.center Error 404 - Not Found

      !! sidebar
      !! footer
